body {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   background: #BBE1FA;
   font-family: 'Poppins', sans-serif;
   font-family: 'Roboto', sans-serif;
}

.container {
   width: 280px;
   padding: 25px 35px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: white;
   border-radius: 10px;
}

.container p {
   font-weight: 700;
   font-size: 18px;
   margin-bottom: 8px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #3282B8;
}

.container input {
   width: 94%;
   height: 50px;
   border: 1px solid #3282B8;
   outline: 0;
   padding: 10px;
   margin: 20px 0;
   border-radius: 5px;


}

.container button {
   width: 100%;
   height: 50px;
   background-color: #3282B8;
   color: white;
   border: 0;
   outline: 0;
   border-radius: 5px;
   box-shadow: 0 10px 10px rgb(0, 0, 0, 0.1);
   cursor: pointer;
   margin: 20px 0;
   font-weight: 500;
   font-size: 16px;
}

#imgBox {
   width: 200px;
   border-radius: 5px;
   max-height: 0;
   overflow: hidden;
   transition: max-height 1s;
}

#imgBox img {
   width: 100%;
   padding: 10px auto;
}

#imgBox.show-img {
   max-height: 300px;
   margin: 40px auto;
   box-shadow: 0px 0px 12px 3px rgba(158, 158, 158, 1);
}

#error {
   color: red;

}